@mixin shadow($left:3px, $top:13px, $blur:40px, $spread:-8px, $color:rgba(0,0,0,0.4), $inset:"") {
    -webkit-box-shadow: $left $top $blur $spread $color #{$inset};
    -moz-box-shadow:    $left $top $blur $spread $color #{$inset};
    box-shadow:         $left $top $blur $spread $color #{$inset};
}

@mixin transition($transition...) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}

@mixin transform($transforms) {
    -moz-transform:    $transforms;
    -o-transform:      $transforms;
    -ms-transform:     $transforms;
    -webkit-transform: $transforms;
    transform:         $transforms;
}

@mixin scale($var){
    -webkit-transform: scale($var);
    -moz-transform:    scale($var);
    -ms-transform:     scale($var);
    -o-transform:      scale($var);
    transform:         scale($var);
}

@mixin animation($str) {
    -webkit-animation: #{$str};
    -moz-animation: #{$str};
    -ms-animation: #{$str};
    -o-animation: #{$str};
    animation: #{$str};      
}

@mixin transition-timing-function($easing) {
	-webkit-transition-timing-function: $easing;
	-moz-transition-timing-function: $easing;
	-o-transition-timing-function: $easing;
	-ms-transition-timing-function: $easing;
	transition-timing-function: $easing;
}

@mixin transform-style($val) {
	-webkit-transform-style: $val;
	-moz-transform-style: $val;
	-ms-transform-style: $val;
	transform-style: $val;
}

@mixin transform-origin($val) {
	-webkit-transform-origin: $val;
	-moz-transform-origin: $val;
	-ms-transform-origin: $val;
	transform-origin: $val;
}

@mixin keyframes($animation-name) {
    @-webkit-keyframes #{$animation-name} {
        @content;
    }
    @-moz-keyframes #{$animation-name} {
        @content;
    }  
    @-ms-keyframes #{$animation-name} {
        @content;
    }
    @keyframes #{$animation-name} {
        @content;
    }
}

@mixin hover-state {
    &:hover, &:active, &:focus {
        @content;
    }
}
